<div class=" p-8 bg-green-400 rounded-3xl shadow-xl hover:scale-105 max-w-md w-full">
  <h1 class="text-4xl text-green-100 font-bold text-center mb-8 neon-text">Sign Up</h1>
  <form class="space-y-6">
    <div class="flex flex-row gap-2">
      <input
        type="text"
        placeholder="First Name"
        class="w-full bg-green-100 text-green-400 px-4 py-3 rounded-lg focus:outline-none transition-all duration-300">

      <input
        type="text"
        placeholder="Last Name"
        class=" w-full bg-green-100 text-green-400 px-4 py-3 rounded-lg focus:outline-none transition-all duration-300">

    </div>
    <div class="flex flex-row">
      <input
        type="text"
        placeholder="Username"
        class="w-full bg-green-100 text-green-400 px-4 py-3 rounded-lg focus:outline-none transition-all duration-300">

    </div>
    <div class="flex flex-row gap-2">
      <input
        type="text"
        placeholder="Email"
        class="w-full bg-green-100 text-green-400 px-4 py-3 rounded-lg focus:outline-none transition-all duration-300">

      <input
        type="text"
        placeholder="Phone Number"
        class="w-full bg-green-100 text-green-400 px-4 py-3 rounded-lg focus:outline-none transition-all duration-300">

    </div>
    <div class="flex flex-row">
      <input
        type="password"
        placeholder="Password"
        class="w-full text-green-400 bg-green-100 px-4 py-3 rounded-lg focus:outline-none transition-all duration-300">

    </div>
    <button type="submit" class="w-full bg-green-200 font-bold py-3 rounded-lg transition-all duration-300 transform hover:scale-105 focus:outline-none">
      Sign Up
    </button>
  </form>
</div>
