
<div id="search-bar" class="w-80 rounded-md mx-auto mb-12 shadow-2xl">
  <form class="flex items-center justify-center p-2" role="search" (ngSubmit)="onSearch($event)">
    <input
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="searchValue"
      [ngModelOptions]="{standalone: true}"
      class="
      w-full
      rounded-md
      px-2
      py-1
      focus:outline-none
      focus:ring-2
      focus:ring-green-400
      focus:border-transparent">
    <button
      type="submit"
      class="
      bg-green-300
      text-green-100
      rounded-md
      px-4
      py-1
      ml-2
      hover:bg-green-200
      hover:text-green-400
      focus:outline-none
      focus:ring-2">
      Search
    </button>
  </form>
</div>

<div class="flex flex-wrap justify-center gap-10 ">
  <div  *ngFor="let product of searchedProduct"
     class="w-72 bg-green-100 shadow-2xl rounded-2xl hover:opacity-80 cursor-auto">
    <div routerLink="{{product.id}}" class="rounded-t">
      <img class="rounded-t" src="{{product.imageUrl}}" alt="product">
    </div>
    <div class="p-4 flex flex-col">
      <div class="flex cursor-auto">
        <h1 class="text-green-400 text-start flex-2 mt-1 cursor-auto">{{ product.name }}</h1>
        <p class=" flex-1 text-end text-green-400 mt-1">${{ product.price }}</p>
      </div>
    </div>
  </div>
</div>
