<div class="flex flex-wrap justify-center gap-10">
  <a routerLink="{{product.id}}" *ngFor="let product of products"
     class="w-72 bg-green-100 shadow-2xl rounded-2xl hover:opacity-80">
    <div
      class="
      h-96
      justify-between
      p-4
      rounded-t
      bg-cover"
      style="background-image: url('{{product.imageUrl}}')">
    </div>
    <div class="p-4 flex flex-col">
      <div class="flex">
        <h1 class="text-green-400 text-start flex-2 mt-1">{{ product.name }}</h1>
        <p class=" flex-1 text-end text-green-400 mt-1">${{ product.price }}</p>
      </div>
      <!--      <div class=" mt-2">-->
      <!--        <a-->
      <!--          routerLink="{{product.id}}"-->
      <!--          class="-->
      <!--          py-2-->
      <!--          px-4-->
      <!--          shadow-->
      <!--          bg-green-300-->
      <!--          hover:bg-green-200-->
      <!--          hover:text-green-400-->
      <!--          active:bg-green-200-->
      <!--          active:text-green-400-->
      <!--          rounded-->
      <!--          mt-4-->
      <!--          w-full-->
      <!--          flex-->
      <!--          items-center-->
      <!--          justify-center">-->
      <!--          Detail-->
      <!--        </a>-->
      <!--      </div>-->
    </div>
  </a>
</div>
